In [8]:
a=10
b=10
c=a/b
print(c)

1.0

In [9]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [10]:
from keyword import kwlist
kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [11]:
#identifier
#keyword
#operator
#1.arithemetic: +,*,/,//,%
#2.relationl: ==,!=,><>=<=
#3. assgnment =,+=,-=,*=
#LOGICL

In [12]:
s='a simple python statement'
s

'a simple python statement'

In [13]:
len(s)

25

In [14]:
s[4]

'm'

In [15]:
s[-9:]

'statement'

In [16]:
s[-11:-17:-1]

'nohtyp'

In [17]:
s[:-10:-1]

'tnemetats'

In [18]:
s[::-1]

'tnemetats nohtyp elpmis a'

In [19]:
d1=[{'a':34},'66':[{'00':[98,'h1']},'awesome',{'m':'n'}]]

SyntaxError: invalid syntax (1788471524.py, line 1)

In [ ]:
s='468hi3.4'
a=[4,6,8,'hi',3.4]
b=(4,6,8,'hi',3.4)
c={4:6,8:['hi',3.4]}
d={4,6,8,'h1',3.4}

In [ ]:
type(s),type(a),type(b),type(c),type(d)

(str, list, tuple, dict, set)

In [ ]:
len(s),len(a),len(b),len(c),len(d)

(8, 5, 5, 2, 5)

In [ ]:
'hi'+'K'

'hiK'

In [ ]:
'hi'*3

'hihihi'

In [ ]:
s+='k'
s

'468hi3.4kkkk'

In [ ]:
s=s[:3]+'joh bhi aap chaoo'+s[3:]
s

'468joh bhi aap chaoojoh bhi aap chaoohi3.4kkkk'

In [ ]:
a

[4, 6, 8, 'hi', 3.4]

In [ ]:
a+=['bye']
a

[4, 6, 8, 'hi', 3.4, 'bye', 'bye']

In [ ]:
a=a[:2]+[39]+a[2:]
a

[4, 6, 39, 39, 8, 'hi', 3.4, 'bye', 'bye']

In [ ]:
b

(4, 6, 8, 'hi', 3.4)

In [ ]:
b+=('bye',)
b

(4, 6, 8, 'hi', 3.4, 'bye', 'bye')

In [ ]:
b+=b(:2)

SyntaxError: invalid syntax (463832166.py, line 1)

In [ ]:
(*a,*b,*s) #args

(4,
 6,
 39,
 39,
 8,
 'hi',
 3.4,
 'bye',
 'bye',
 4,
 6,
 8,
 'hi',
 3.4,
 'bye',
 'bye',
 '4',
 '6',
 '8',
 'j',
 'o',
 'h',
 ' ',
 'b',
 'h',
 'i',
 ' ',
 'a',
 'a',
 'p',
 ' ',
 'c',
 'h',
 'a',
 'o',
 'o',
 'j',
 'o',
 'h',
 ' ',
 'b',
 'h',
 'i',
 ' ',
 'a',
 'a',
 'p',
 ' ',
 'c',
 'h',
 'a',
 'o',
 'o',
 'h',
 'i',
 '3',
 '.',
 '4',
 'k',
 'k',
 'k',
 'k')

In [ ]:
c[99]=[]

NameError: name 'c' is not defined

In [51]:
a=34
b=34.5
c=34+5j
d='hello'
e=[3,4,5]
f=(3,4,5)
g={'a':44, 'b':'hi'}

In [26]:
#sring formatting
x=20
y=30
#z='ek aisa data jo 20 to 30 hai'
z='ek aisa data jo %d to %d hai'%(x,y)
z

#using format function
z='ek aisa data jo {} to {} hai'
z=z.format(x,y)
#z='ek aisa data jo {}to{}hai'.format(x,y)
z1='ek aisa data jo {0} to {1} hai lekin {0} hi kaafi hai'
z1=z1.format(x,y)
z1

#using f-string
zf='ek aisa data jo {x} to {y} hai lekin {x} hi kaafi hai'
zf

'ek aisa data jo {x} to {y} hai lekin {x} hi kaafi hai'

In [ ]:
# 1. no input and no output args
# 2.input arg but not output args
# 3.no input but output args are there
# 4.both are there

In [35]:
e.append(367)
e

[3, 4, 5, 'somedata', 'somedata', 367, 367, 'somedta', 367]

In [30]:
d.upper()

'HELLO'

In [36]:
d

'hello'

In [42]:
help(e.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [46]:
e.sort(reverse=True)
e

TypeError: '<' not supported between instances of 'str' and 'int'

In [48]:
k=e.pop()
k

'somedta'

In [53]:
g.get('z','oh no')
g

{'a': 44, 'b': 'hi'}

In [57]:
g={'a':44, 'b':'hi'}
g.keys()

dict_keys(['a', 'b'])

In [59]:
e3=e
e3

[3, 4, 5]

In [ ]:
#deep copy vs shallow copy